<div class="jumbotron text-center">
  <h1>Raagini Car Wash</h1>
  <p>Affordable prices</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-6" [routerLink]="['/home','car']">
      <h3>cars <span class="number">$5</span></h3>
      <img src="http://www.pngmart.com/files/4/Car-Transparent-Background.png" height="300" width="400">
      <h4>Please click above car to get started with car wash...</h4>
      
    </div>
    <div class="col-sm-6" [routerLink]="['/home','truck']" >
      <h3>trucks <span class="number">$10</span></h3>
      <img src="https://www.ramtrucks.com/content/dam/fca-brands/na/ramtrucks/en_us/bhp/lineup/2017_Ram_2500.jpg.image.500.jpg" height="300" >
      <h4>Please click above truck to get started with car wash...</h4>
      
    </div>
    
  </div>
</div> 
