
img {
    text-align: center;
   
    opacity: 0.3;
  z-index: -1;
    top: 0px;
    position: fixed;
   background-repeat: no-repeat;
     height:700px;
    width: 100%;
    
  }
 h1{
     text-align: center;
    }
form{
    text-align: center;
    font-size: large;
}
